#logo{
    padding-left: 34em;
    margin-right: 0.25em;
    font-size: 23px;
    font-family: Georgia;
    color: black;
}

.nav-item a{
    list-style: none;
    color: black;
}

.nav-item a:hover{
    color:white;
    background-color: black ;
}

.carousel-item{
    height: 35em;
}

.boxes{
    display: flex;
   padding: 1em;

}

.box1 {
    padding: 1em;
    box-shadow: 1px 2px 5px 3px black;
    margin: 1em;
    background-color: rgb(183, 169, 209);
    border-radius: 1em;
    font-size: 20px;
}
.box1 h3{
    font-family: Helvetica, sans-serif;
    color: rgb(3, 28, 49);
}

.box1 a{
    text-decoration: none;
    color: brown;
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 10em;
  }
  
  .footer-container {
    display: flex;
  }
  
  .footer-right {
    margin-left: 18em;
  }
  .h1{
      margin-left: 9em;
      padding-top: 1.5em;
  }

  