/* nav */
body {
  background-color: rgb(196, 192, 245);
}
.primaryHeader {
  background-color: rgb(29, 28, 41);
}
nav ul li a {
  color: hsl(0, 0%, 100%);
  font-size: large;
}
li {
  list-style: none;
}
nav ul a:hover {
  background-color: #1d0f00;
  color: beige;
  border-bottom: solid;
  border-color: yellow;
  border-width: 5px;
}
.bigheading {
  color: hsl(32, 81%, 13%);
  padding-left: 20px;
  font-weight: 900;
}

@media (min-width: 767px) and (max-width: 850px) {
  nav a {
    font-size: medium;
  }
}

/* form */
form h1 {
  text-align: center;
  padding-bottom: 50px;

  color: hsl(32, 81%, 13%);
}
form input {
  border-width: 1px;
}
.lbutton {
  background-color: hsl(32, 81%, 13%);
  color: wheat;
}
.lbutton:hover {
  background-color: #1d0f00;
  color: white;
}
form {
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: rgb(233, 233, 220);
  border-radius: 5px;
  padding: 80px 50px 50px 50px;
}

@media screen and (max-width: 450px) {
  form {
    width: 300px;
    margin-top: 80px;
    padding: 10px;
  }
  .bigheading {
    font-size: 1rem;
  }
}
/* main */
.mainImg {
  height: 500px;
  background-image: url("https://images.pexels.com/photos/7063762/pexels-photo-7063762.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-size: cover;
}
.mainImg h3,
.loanMainImg h3 {
  position: absolute;

  background-color: hsl(32, 81%, 13%);
  color: white;
  border-width: 0 7px 7px 0px;
  border-style: solid;
  border-color: yellow;
  padding: 90px;
}
.mainImg h3 {
  top: 350px;
  margin-left: 20px;
}

.man-img,
.imgright,
.imgleft {
  float: right;

  border-width: 0 20px 20px 0px;
  border-style: solid;
  border-color: yellow;
}
.div3 {
  margin: 200px 100px;
}
.bt2 {
  border-radius: 10px;
  float: right;
  background-color: #1d0f00;
  margin-top: 20px;
}
.bt2:hover {
  color: #1d0f00;
  background-color: yellow;
}
.bigheading h1 {
  margin: 0.5rem;
  text-align: right;
  position: relative;
  padding-left: 12%;
  font-size: 88px;
  line-height: 88px;
  font-weight: 600;
  box-sizing: border-box;
}
.bigheading h3 {
  position: relative;
  padding-left: 10%;
  margin: 30px auto 10px auto;
  font-weight: 400;
  line-height: 36px;
  font-size: 36px;
  text-align: right;
}
/*home section2*/
.featurerow {
  width: 70%;
  margin: 200px auto;
  text-align: left;
  line-height: 2;
}

h3 {
  color: #1d0f00;
}
.imgright,
.imgleft {
  width: 300px;
  height: 300px;
}

.imgleft {
  float: left;
  margin-right: 30px;
}
.imgright {
  float: right;
  margin-left: 30px;
}

/*  courses */
/* 
#courses {
  margin: 50px auto;
}
  #courses .row{
    margin:0 3rem 0 3rem;
    padding: 3rem;
  }
  .card{
     font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: 5px;

  }
  .card div{
     padding:  0.75rem;
  }
  .card .profile div{
     padding:0;
  }
  .course{

    background-color: hsl(54deg 100% 92%);
  }
.course p{
    display: flex;
    justify-content: flex-end;
    padding:2rem 0 1rem 0;
    font-weight: 600;
    text-align: right;
    font-size: 28px;
    line-height: 30px;
    color: hsl(213deg 31% 37%);

}


.profile div p{
  margin: 0;
  font-size: 0.7rem;
   color: hsl(250deg 18% 19%);
}
.cardfooter{
  margin-bottom: 0;
  margin-top: 1rem;
  font-size: 0.8rem;
   color: hsl(250deg 18% 19%);

}
.card-wrapper2 .card .course p{
  padding-bottom: 1rem;
}

.card-wrapper2 .card .course{
  background: hsl(138deg 24% 89%);

}
.card-wrapper3 .card .course{
  background: hsl(220deg 100% 93%);

}
.card-wrapper4 .card .course{
  background: hsl(139deg 26% 93%);

}
#courses{
  margin: 3rem;
}
.sub{
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 0;
} */
/* footer */
.footer {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr 2fr;
  background-color: hsl(32, 81%, 13%);
  padding: 40px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  font-family: Karla, Arial, sans-serif;
}

.footercols {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: right;
  padding-top: 100px;
  padding-bottom: 200px;
}
#media {
  text-align: left;
}
.footercols ul {
  list-style-type: none;
}
.footercols ul li {
  margin: 10px;
}
.footercols ul li a {
  color: white;
}
footer ul li:hover {
  background-color: yellow;

  border-bottom: solid;
  border-color: beige;
  border-width: 5px;
}
footer ul a:hover {
  color: #1d0f00;
}

/* Dashboard */
.sidebar {
  margin-top: 110px;
  list-style: none;
  text-decoration: none;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #1d0f00;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: beige;
  padding-left: 30px;
  box-sizing: border-box;
  border-top: 1px solid beige;
  transition: 0.4s;
}
ul li:hover a {
  padding-left: 40px;
}
.sidebar ul a i {
  margin-right: 16px;
}

/*-- cards --*/

.w3ls_banner_txt p {
  font-size: 15px;
  color: rgb(37, 36, 36);
  text-transform: capitalize;
}
.banner-text-w3pvt {
  padding: 8vw 0 11vw;
  box-sizing: border-box;
  width: 70%;
}

h2.b-w3ltxt,
h3.b-w3ltxt {
  font-size: 4em;
  color: #fff;
  text-shadow: 1px 1px 0px #333;
  font-weight: 600;
}
h2.b-w3ltxt span,
h3.b-w3ltxt span {
  color: yellow;
}
h4.b-w3ltxt {
  font-size: 3em;
  letter-spacing: 3px;
  font-weight: 200;
  color: rgb(58, 58, 58);
}

.btn-banner {
  background-color: #1d0f00;

  border: 2px solid rgb(22, 21, 21);
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 10px 30px;
  display: inline-block;
}
.btn-banner1 {
  background: none;
  border: 2px solid #1d0f00;
  color: #1d0f00;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 10px 30px;
  display: inline-block;
}
.btn-banner:hover {
  color: #1d0f00;
  background-color: white;
}
.btn-banner1:hover {
  color: #fff;
  background-color: #1d0f00;
}
.banner_slide_bg li {
  padding-bottom: 100px;
}
.loanMainImg {
  background-image: url(" https://images.pexels.com/photos/4262010/pexels-photo-4262010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  height: 600px;

  background-repeat: no-repeat;
  background-size: cover;
}
.loanMainImg h3 {
  top: 500px;
  right: 50px;
}

/*-- //banking*/
.banking_grids p {
  color: #777;
}
.banking_grids h3 {
  font-size: 25px;
  color: #333;
}
.banking .img-fluid {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}
.banking {
  background-color: white;
}
/*cards*/
.card-body {
  background-color: hsl(32, 81%, 13%);
  color: white;
}
.card-body a {
  background-color: yellow;
  color: hsl(32, 81%, 13%);
}
.card-body a:hover {
  background-color: beige;
  color: hsl(32, 81%, 13%);
}

.cmain .card-body,
.card-img-top {
  border-radius: 20px;
}
